{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'mymemoblog/css/blog_list.css' %}">
{% endblock %}

{% block title %}
Akito Blog プログラミング初心者からの脱却
{% endblock %}

{% block content %}
<h2>ブログ記事一覧/</h2>
{% for post in post_list %}
<div class="list_border">
    <ul style="margin-left: -30px; margin-right: 10px;">
        <div class="backColor">
            <h2>
                <a href="{% url 'mymemoblog:post_detail' post.id %}">
                    {{post.bigtitle|safe}}
                </a>
            </h2>
        </div>
        <div class="post_tag ">
            <small>タグ名: </small>
            {% for post_tag in post.tag.all %}
            <small>{{post_tag.name}}</small>
            {% endfor %}
            <div class="created_at">
                <small>作成日: </small>
                <small>{{post.created_at|date:"Y/m/d"}}</small>
            </div>
        </div>




        <li class="list">{{post.bigtext}}</li>
        {% if post.thumnail %}
        <li class="list"><img src="{{post.thumnail.url}}" alt="サムネイル" class="image"></li>
        {% else %}
        {% endif %}
    </ul>
</div>
<br />
{% endfor %}
<nav aria-label="ページネーション">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="前へ">
                <span aria-hidden='true'>&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
        {% if page_num == page_obj.number %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="次へ">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>



{% endblock %}


{% block category %}
{% for category in category_list %}
<ul>
    <li><a href="{% url 'mymemoblog:post_category' category.id %}">{{category.name}}</a></li>
</ul>
{% endfor %}
{% endblock %}


{% block tag %}
{% for tag in tag_list %}
<li><a href="{% url 'mymemoblog:post_tag' tag.id %}">{{tag}}</a></li>
{% endfor %}
{% endblock %}