{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'mymemoblog/css/blog_detail.css' %}">
{% endblock %}

{% block title %}
Akito Blog ({{post.bigtitle}})
{% endblock %}


{% block content %}
<div>
    <h2><a href="{% url 'mymemoblog:post_list' %}">記事一覧</a>/詳細</h2>
    <div class="backColor">
        <h2><strong>{{post.bigtitle}}</strong></h2>
    </div>

    {% if post.thumnail %}
    <img class="image" src="{{post.thumnail.url}}" alt="サムネ">
    {% else %}
    {% endif %}
    {% for fields in post.smallblog.all %}
    <ul>
        <div class="backColor">
            <h3>{{fields.title | safe}}</h3>
        </div>

        <li class="list">{{fields.text|safe}}</li>
    </ul>
    <hr />
    {% endfor %}
    <a class="header_a" href="{% url 'mymemoblog:post_list' %}">ブログ一覧へ</a>
</div>

{% endblock %}


{% block category %}
{% for category in category_list %}
<ul>
    <li><a href="{% url 'mymemoblog:post_category' category.id %}">{{category}}</a></li>
</ul>
{% endfor %}
{% endblock %}


{% block tag %}
{% for tag in tag_list %}
<li><a href="{% url 'mymemoblog:post_tag' tag.id %}">{{tag}}</a></li>
{% endfor %}
{% endblock %}


{% block comment %}
<div style="position: relative; left:50px;" class="comment_list">
    <h2>コメント一覧</h2>
    <a href="{% url 'mymemoblog:comment' post.pk %}">コメントする</a>
    <br>
    <br>
    <div class="box2">
        {% for comment in post.target.all %}
        {% if comment.is_public %}

        <p>名前:{{ comment.name }}</p>
        <p style="padding-right: 150px;">テキスト:{{ comment.text }}</p>
            <a href="{% url 'mymemoblog:reply' comment.pk %}">返信する</a><br>

            <div style="margin-left:80px;" class="box3">
                {% for reply in comment.reply_set.all %}
                {% if reply.is_public %}
                <p>名前:{{ reply.name }}</p>
                <p style="padding-right: 50px;">テキスト:{{ reply.text }}</p>
                {% else %}
                <p>まだ承認されていません。(返信コメント)</p>
                {% endif %}

                {% endfor %}
            </div>

    </div>

    {% else %}
    <p>まだ承認されていません。(コメント)</p>
    {% endif %}
    <br>
    {% endfor %}
</div>

{% endblock %}