{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'mymemoblog/css/blog_tag_list.css' %}">
{% endblock %}

{% block title %}
タグ検索
{% endblock %}


{% block content %}
<h2><a href="{% url 'mymemoblog:post_list' %}">記事一覧</a>/{{tag}}</h2>

{% for post in post_list %}
<div class="list_border">
    <ul style="margin-left: -30px; margin-right: 10px;">
        <div class="backColor">
            <h2>
                <a href="{% url 'mymemoblog:post_detail' post.id %}">
                    {{post.bigtitle}}
                </a>
            </h2>
        </div>
        <div class="post_tag ">
            <small>タグ名: </small>
            {% for post_tag in post.tag.all %}
            <small>{{post_tag.name}}</small>
            {% endfor %}
            <div class="created_at">
                    <small>作成日: </small>
                    <small>{{post.created_at|date:"Y/m/d"}}</small>
            </div>
        </div>

        <li class="list">{{post.bigtext}}</li>
        
    </ul>
</div>
<br />
{% endfor %}
{% endblock %}


{% block category %}
{% for category in category_list %}
<ul>
    <li><a href="{% url 'mymemoblog:post_category' category.id %}">{{category}}</a></li>
</ul>
{% endfor %}
{% endblock %}


{% block tag %}
{% for tag in tag_list %}
<li><a href="{% url 'mymemoblog:post_tag' tag.id %}">{{tag}}</a></li>
{% endfor %}
{% endblock %}