{% load static %}
google-site-verification: google0a646d00ee25548c.html
<!DOCTYPE html>
<html lang="ja">

<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'mymemoblog/css/base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="border_color_2">
        <div class="border_color">
            <header class="header">
                <div>
                    <a class="header_a" href="{% url 'mymemoblog:post_list' %}">ブログ一覧へ</a>
                    <div class="header_title">
                        <h1>Akito Blog</h1>
                        <div class="blog_description">
                            <p>プログラミングについて自分へのメモや助かったサイト、チュートリアルを書いています。
                                検索するためのキーワードなどもメモっていきます。プログラミングに関してまだまだの部分の方が多いため、
                                何かミスやこっちの方がいいよ、といったアドバイスがありましたら、コメントやTwitter、FaceBookなどで
                                ご教授をお願いします。皆様にとって読みやすい、わかりやすいブログサイトになれば幸いです。ちなみにこのサイトは
                                wordpressではなくDjangoで作っています。
                            </p>
                        </div>
                    </div>

                </div>
            </header>

            <main>
                <div class="wrapper">
                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>


                <div class="sidebar">
                    <div class="search_form">
                        <a href="{% url 'mymemoblog:search' %}">サイト内検索ページへ</a>
                    </div>
                    <!-- 大カテゴリは押したらそれぞれのsmallcategoryの集合ページに飛ぶようにする -->
                    <div class="big_category">
                        <h4>カテゴリー</h4>
                        {% block category %}{% endblock %}
                    </div>

                    <div class="tag">
                        <h4>タグ</h4>
                        <ul>
                            {% block tag %}{% endblock %}
                        </ul>
                    </div>
                </div>
            </main>

            <footer class="footer">
                {% block comment %}
                {% endblock %}
                <div>
                    <small>Copyright Akito MemoBlog All Rights Reserved.</small>
                </div>
            </footer>
        </div>
    </div>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="448326812416853"
  theme_color="#ffc300">
</div>
</body>
</html>